/*
 *= require_self
 */

@-webkit-keyframes backgroundImage {
  0%   { background: url('/assets/running1.jpg'); }
  25%  { background: url('/assets/cycling1.jpg'); }
  50%  { background: url('/assets/running2.jpg'); }
  75%  { background: url('/assets/hiking1.jpg'); }
  100% { background: url('/assets/cycling2.jpg'); }
}
@-moz-keyframes backgroundImage {
  0%   { background: url('/assets/running1.jpg'); }
  25%  { background: url('/assets/cycling1.jpg'); }
  50%  { background: url('/assets/running2.jpg'); }
  75%  { background: url('/assets/hiking1.jpg'); }
  100% { background: url('/assets/cycling2.jpg'); }
}
@-o-keyframes backgroundImage {
  0%   { background: url('/assets/running1.jpg'); }
  25%  { background: url('/assets/cycling1.jpg'); }
  50%  { background: url('/assets/running2.jpg'); }
  75%  { background: url('/assets/hiking1.jpg'); }
  100% { background: url('/assets/cycling2.jpg'); }
}
@keyframes backgroundImage {
  0%   { background: url('/assets/running1.jpg'); }
  25%  { background: url('/assets/cycling1.jpg'); }
  50%  { background: url('/assets/running2.jpg'); }
  75%  { background: url('/assets/hiking1.jpg'); }
  100% { background: url('/assets/cycling2.jpg'); }
}

#main-wrapper {
  height: 100vh;
  width: 100%;
  background: url('/assets/running1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: backgroundImage 60s 0s infinite;
  -moz-animation:    backgroundImage 60s 0s infinite;
  -o-animation:      backgroundImage 60s 0s infinite;
  animation:         backgroundImage 60s 0s infinite;
  z-index: -5;
}

@media (max-width: 768px) {
  #main-wrapper {
    background: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
  }
}

#about {
  position: relative;
  display: block;
  min-height: 66vh;
  text-align: center;
  padding: 2em;
}

#about h1 {
  font-size: 64px;
}

#about::after {
  content: "";
  position: absolute;
  background-color: #fff;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 2em;
  z-index: 1;
}

#about-content {
  position: relative;
  z-index: 10;
}

#about-content h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}